*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height: 100vh;
	background: #000;
	  font:normal 75% Arial, Helvetica, sans-serif;
	  position:relative;
	  width:100%;
	  max-width: 1920px;
}
::-webkit-scrollbar{
	width:0;
}
li{
	list-style: none ;
}
@font-face{
	font-family:'UltraLight';
	src:url('fonts/20050.ttf');
}
@font-face{
	font-family:'welcome';
	src:url('fonts/20082.ttf');
}
a{
	text-decoration: none;
	color:#fff;
}
.scrollbar{
 width:0%;
 background-color:white;

 height:2px;
 float:left;
 position:fixed;
 top:70px;
 left:0px;
 right:0;
 border-radius:10px;
 background:aqua; /*#fc7f03*/
 filter:blur(0px);
 z-index:20;
}
.scrollbar:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:linear-gradient(to top, #e31010,#ff9100, #0000ff);
	z-index:-2;
	opacity:.8;
	filter:blur(20px);
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index:-1;
  
}
#js__container{
	width:100%;
	position: absolute;
	top:0;
	min-height:95vh;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}
.upper-panel{
	position:fixed;
	height: 70px;
	width:100%;
	background-color: #090909;
	top:0;
	z-index: 1000000;
	text-align:center;
	font-family: consolas;
	color:#fff;
	font-size: 4em;
	font-weight: 100;
	display:flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items:center;
	font-family:'UltraLight';
	src:url('fonts/20050.ttf');
	letter-spacing:3px;
	font-weight: bold;
	transition: all .2s;
}
.hamburger{
	background-image: url(menu.png);
	width:50px;
	height:50px;
	background-size: cover;
	position: absolute;
	top:15%;
	right:40px;
	display: none;
	transition: .5s;
}
.hamburger:hover{
	cursor: pointer;
	transform: rotate(180deg);
}
.left_side{
	width:50%;
	display:flex;
	justify-content: flex-start;
	margin:0px 0px 2px 50px;
}
.left_side img{
	filter:invert(100%);
}
.left_side img:hover{
	cursor:pointer;
}
.right_side{
	width:50%;
	margin:0px 30px 0px 0px
}
.navigation{
	display:flex;
	justify-content: flex-end;

	width:100%;
	font-size:25px;


}
.navigation li{
	margin:0px 15px;

}
.right_side ul li:hover{
	color:#fc7f03;
	cursor:pointer;
}
/**/
.content{
	display: flex;
	flex-direction: column;
	position: relative;
}
.main{
	position: relative;
	color:#fff;
	text-transform:uppercase;
	display:flex;
	justify-content: center;
	align-items:flex-end;
	width:1920px;
	height:600px;
	text-align:center;
	font-size:3.5em;
	font-family:'welcome';
	src:url('fonts/20082.ttf');
	letter-spacing: 1px;
	margin:0px 0px 300px 0px ;

}
.main h1{
	 margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);


}
.main h1:before {
  content: attr(data-text);
  position: absolute;
  top: 69%;
  left: 0;
  transform-origin: bottom;
  transform: rotateX(180deg);
  line-height: 1em;
  background: linear-gradient(0deg, #fff 0, rgba(255, 255, 255, 0) 80%);
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
  opacity: 0.15;
}
#about_container{
	position: relative;
	width:100%;
	height:700px;
	background-color: #090909;
	display: flex;
	justify-content: center;
	box-shadow: 0px 1px 50px rgba(0, 255, 255, .2);
	flex-direction:column;
	background: linear-gradient(110deg, #111 70% , #fc7f03 30% );
}
#About{
	width:100%;
	height:100px;
		font-family:'welcome';
	src:url('fonts/20082.ttf');
	letter-spacing:3px;
	font-weight: bold;
	font-size:5em;
	color: #fff;
	display:flex;
	justify-content:flex-start;
	align-items:flex-end;
	padding-left:5%;
	padding-bottom:1%;

}
#About:before{
	content:'';
	position: absolute;
	width:300px;
	height:2px;
	background-color: #fc7f03;
	top:20%;
	left:4%;
}
.about__content{
	width:100%;
	height:500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
		font-family:'UltraLight';
	src:url('fonts/20050.ttf');
	letter-spacing: 1px;
}
.about__left{
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	height:550px;
	padding:20px 0px 30px 70px;
	margin:120px 0px 0px 0px;
	font-size:1.6em;
	color:#fff;
}
.about__left:before{
	content:'';
	width:3px;
	height:300px;
	position: absolute;
	background-color: #fff;
	right:25%;
	transform: rotateZ(20deg);
}
.about__left:after{
	content:'';
	width:3px;
	height:300px;
	position: absolute;
	background-color: aqua;
	left:2%;
	top:40%;
}

.about__right{
	margin:0px 60px 80px 0px;
}
/*======animation works ===============*/
#Work{
	position: relative;
	width:100%;
	height:800px;
/*	display: flex;
	justify-content: center;
	align-items:flex-end;*/
	padding:200px 0px 50px 0px;
	top:50%;
}
.background{
	background-image:url(bg.jpg);
	opacity: .1;
	position:absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
}
.swiper-container {
      width: 100%;
      height: 550px;
    /*  max-width: 300px;*/
      padding-top: 50px;
      padding-bottom: 50px;
      position: relative;
      bottom:0;
      left:50%;
      transform: translateX(-50%);

    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      max-width: 320px;
      max-height: 320px;
      -webkit-box-reflect: below 3px linear-gradient(transparent, transparent,#0006);
     	transition: all .2s;


    }
    .swiper-slide:hover{
    	max-width: 370px;
    	max-height: 370px;
    	margin-left:-25px;
    	margin-top:-25px;
    	transform: scale(1.2);
    	-webkit-box-reflect: below 9px linear-gradient(transparent, transparent,#0006);
    }
#Work h1{
	 margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  color:#fff;
	font-family:'welcome';
	src:url('fonts/20082.ttf');
	font-size:4em;
	letter-spacing: 4px;

}
#Work h1:before{
	content:'';
	width:100px;
	height: 3px;
	background-color: #0ff;
	position: absolute;
	  left: 50%;
	  bottom:-20%;
	  transform: translate(-50%, -50%);
}
.shadow{
	position: absolute;
	width:100%;
	height:800px;
/*	background-color: #fff;*/
	top:0;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.shadow div{
	background-color: #000;
	width:25%;
	height: 600px;
	filter:blur(100px);
	z-index: 1000;

}
/*=============STATS===============*/
#Statistic{
	width:100%;
	height: 65vh;
	display: flex;
	justify-content: center;
	align-items:center;
	position: relative;
	overflow: hidden;
	top:-5px;
	margin: 0px 0px 200px 0px;
}
.stat__cube{
	width:1500px;
	height:1500px;
	background-color: #fc7f03;
	position: absolute;
	top:-75%;
	left:-45%;
	transform: rotate(45deg);
	box-shadow:  0px 5px 200px rgba(0, 0, 0, .5);
}
.stat__content{
	width:100%;
	height: 62vh;
	display: flex;
	justify-content: center;
	align-items:space-between;
	padding:10px 0px;
	box-shadow:  0px 0px 15px rgba(0, 255, 255, .3);
	background-color:#222;
}
.left__stat{
	width:35%;
	height: 100%;
	z-index: 10;
	color:rgba(0, 255, 255, .9);
	display: flex;
	justify-content: space-around;
	align-items:center;
	font-size:2em;
	padding:0px 0px 0px 90px;
	text-align: center;
	text-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
.left__stat span{
	font-family: "welcome";
	font-size:2em;
	color:#fff;
}
.left__stat p{
	font-family:'UltraLight';
	src:url('fonts/20050.ttf');
	font-weight: bold;
		color:#fff;
}
.right__stat{
	width:65%;
	height: 100%;
	display: flex;
	justify-content: center;	
	align-items: center;
	color:#fff;
	font-family:"UltraLight";
	font-size: 1.3em;
	letter-spacing: 1px;
	flex-direction: column;
}
.right__stat h1{
	font-family: "welcome";
	letter-spacing: 3px;
	font-size: 2.2em;

}
.skill__html{
	width:500px;
	height: 50px;
	border-radius: 10px;
	position: relative;
margin:30px 0px;
}
.bar__html{
	width:500px;
	height: 20px;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
.bar__html:before{
	content: '';
	width:500px;
	height: 20px;
	position: absolute;
	background-color:#ff6a00;
	box-shadow: 0px 1px 5px #000;
	border-radius: 0px 0px 20px 10px;
	left:-20%;
}
/*css*/
.skill__css{
	width:500px;
	height: 50px;
	border-radius: 10px;
	overflow: hidden;
	margin:30px 0px;
}
.bar__css{
		overflow: hidden;
	width:500px;
	height: 20px;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
}
.bar__css:before{
	content: '';
	width:500px;
	height: 20px;
	position: absolute;
	background-color:#3471eb;
	box-shadow: 0px 1px 5px #000;
	border-radius: 0px 0px 20px 10px;
	left:-35%;
}
/*js*/
.skill__js{
	width:500px;
height: 50px;
	border-radius: 10px;
	overflow: hidden;
	margin:30px 0px;
}
.bar__js{
		overflow: hidden;
	width:500px;
	height: 20px;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
}
.bar__js:before{
	content: '';
	width:500px;
	height: 20px;
	position: absolute;
	background: linear-gradient(to right, red, orange);
	box-shadow: 0px 1px 5px #000;
	border-radius: 0px 0px 20px 10px;
	left:-80%;
}
/*react*/
.skill__react{
	width:500px;
	height: 20px;
	border-radius: 10px;
	position: relative;
	margin:30px 0px;
}
.bar__react{
		overflow: hidden;
	width:500px;
	height: 20px;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
}
.bar__react:before{
	content: '';
	width:500px;
	height: 20px;
	position: absolute;
	background-color:aqua;
	box-shadow: 0px 1px 5px #000;
	border-radius: 0px 0px 20px 10px;
	left:-98%;
}
.stat__coffee{
	position: relative;
	top:0;
	padding:0px 100px;
}
.stat__row{
	position: relative;
	top:0;

}
/*=================contacts===============*/
#Contacts{
	position: relative;
	width:100%;
	max-width: 1920px;
	height:80px;
	background-color:#050505;
	bottom:0;
	left:0;
	margin: 100px 0px 0px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color:#fff;
	box-shadow: 1px 0px 10px #222;


}
#Contacts h1{
	margin:0px 100px;
	font-size:2.2em;
	font-family: "welcome";
	letter-spacing: 2px;
}
.media{
	display:flex;
	justify-content: space-around;
	width:70%;
	align-items: center;
	flex-direction: row;

}
.social h4{
	color:gray;
}
.medias{

	margin:0px 50px;
	color: #cccccc;
	font-weight: 100;
	position: relative;
	transition: .3s;
	box-shadow: 0 0 0 black;

}
.medias:hover  {
	color: #ff730e;
	cursor: pointer;
}
.contact__box{
	width:120px;
	height: 30px;
	background-color: #fff;
	position: absolute;
	top:-140%;
	left:-130%;
	opacity: 0;
	transition: .2s;
	border-radius: 20px;
	text-align:center;
	color:#000;
	line-height: 2;
	font-family: "welcome";
	font-weight: lighter;
	letter-spacing: 2px;
	font-size: 14px;
}
.contact__box::after {
    content: ''; 
    position: absolute;
    bottom:-100%;
    left:50%;
    transform: translateX(-50%);
    border: 20px solid transparent; 
    border-top: 20px solid #fff;
  }
	 .medias:hover .contact__box {
  	opacity: 1;
  	cursor: pointer;
  }
@media(max-width: 1024px){
	*{
		max-width: 1024px;
		padding:0;
		margin:0;
	}
	.upper-panel{
		margin: 0;
		width:1024px;
	}
	.hamburger{
		display: block;
		z-index: 1000100;
	}
	.hamburger.active{
		background-image: url(close.png)
	}
	.navigation{
		display:none;
		width:100%;
		min-height: 100vh;
		position: fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		transform: none;
		justify-content: center;
		align-items: center;
		background-color: rgba(0,0,0,0.99);
		flex-direction: column;
		z-index: 10000;
	}

	 .navigation.active{
		display: flex;
		z-index: 10000;
	}
	.navigation li{
		margin:20px 0px;
	}
	.js__container{
		max-height: 60vh;
	}
	#about_container{
		height: 850px;
		justify-content: flex-start;
	}
	#About{
		margin:0;
		padding:0px 10%;
		top:1%;
	}
	#About:before{
		top:13%;
		left:8%;
	}
	.right__stat{
		width:900px;
	}
	.about__left:before{
		right: 28%
	}
}
@media(max-width: 768px){
	*{
		max-width:768px;
	}
	.about__left{
		font-size:1.4em;
	}
	.about__left:before{
		right:16%;
	}
	.about__left:before{
		right: 17%
	}
	#Work{
		text-align:center;
	}
	.swiper-slide{
		max-width: 270px;
		max-height: 270px;
	}
	.swiper-container{
		bottom:-25%;
	}
	.skill__bar div{
		width:300px;
		margin:10px 30px 0px 0px;
	}
	.bar__html:before{
		width:300px;
	}
	.bar__css:before{
		width:300px;
	}
	.bar__js:before{
		width:300px;
	}
	.bar__react:before{
		width:300px;
	}
	.left__stat{

		align-items: flex-end;
		margin:20px 60px;
		font-size:1.7em;
		
	}
	.stat__content{
		flex-direction: column;
	}
	.stat__cube{
		top:-150%;
		left:20%;
	}
	#Statistic{

		height:700px;
	}
	.right__stat{
		width:700px;
		align-items:  flex-end;
		margin-bottom:40px;
	}
}
@media(max-width: 540px){
	*{
		max-width:540px;
	}
	#Contacts{
		height:100px;
		flex-direction: column-reverse;
		padding:10px 0px;
	}
	#about_container{
		height:1020px;
	}
	.about__left:before{
		right: 10%;
		top:40%;
	}
	.about__left{
		width:400px;
	}
	.stat__content{
		height:90vh;
	}
	.left__stat{
		justify-content: space-between;
		padding: 0px 20px;
		width:540px;
	}
	.stat__coffee{
		position: absolute;
		right:0;
		top:18%;
	}
	.stat__row{
		position: absolute;
		left:10%;
		top:10%;
	}

}
